[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymem = "*"
requests = "*"
keyboard = "*"
mouse = {git = "https://github.com/boppreh/mouse.git"}
flask = "*"
pyautogui = "*"
tensorflow = "*"
stable-baselines3 = {extras = ["extra"], version = "*"}
numpy = "*"

[dev-packages]

[requires]
python_version = "3.7"
